<Alloy>
	<Collection src="setting" />

	<Tab id="tab" title="Settings">
		<Window title="Settings" onClose="onWindowClose">

			<ListView defaultItemTemplate="setting" onItemclick="onListViewItemclick">
				<Templates>
					<ItemTemplate name="setting">
						<Label bindId="label" />
						<Switch bindId="switch" onChange="onSwitchChange" />
					</ItemTemplate>
				</Templates>
				<ListSection headerTitle="Document Editor UserActivity" dataCollection="setting">
					<ListItem itemId="{id}" label:text="{id}" switch:value="{value}" />
				</ListSection>
			</ListView>

		</Window>
	</Tab>

</Alloy>